{{!-- <li class='country-list__item'><img
    class='country-list__img'
    width='50'
    src='{{flags.svg}}'
    alt='flag of the country'
  /><span class='country-list__content'>{{name}}</span></li> --}}
